* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #fefefe;
    background: #4c95f3;
    padding: 5px;
}

li {
    padding: 5px;
    display: block;
    margin: 15px;
}

.index-li {
    display: inline-block;
}

li > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #4c95f3;
    padding: 10px;
}

body > ul {
    text-align: center;
    margin-top: 20px;
}

body > ol {
    margin-top: 20px;
    margin-left: 60px;
}

body > p {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    height: auto;
}

h2 {
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    background-color: #4c95f3;
    color: #ffffff;
    padding: 5px;
}